In [1]:
import yfinance as yf
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
stock_ALL_AX = ["ALL.AX"]
stock_ANZ_AX = ['ANZ.AX']
stock_BHP_AX = ['BHP.AX']
stock_CBA_AX = ['CBA.AX']
stock_CSL_AX = ['CSL.AX']
stock_FMG_AX = ['FMG.AX']
stock_GMG_AX = ['GMG.AX']
stock_MQG_AX = ['MQG.AX']
stock_NAB_AX = ['NAB.AX']
stock_NCM_AX = ['NCM.AX']
stock_REA_AX = ['REA.AX']
stock_RIO_AX = ['RIO.AX']
stock_TCL_AX = ['TCL.AX']
stock_TLS_AX = ['TLS.AX']
stock_WBC_AX = ['WBC.AX']
stock_WES_AX = ['WES.AX']

In [3]:
start_date = '2006-01-01'
end_date = '2023-01-01'

In [4]:
ALL_AX = yf.download(stock_ALL_AX, start=start_date, end=end_date)
ANZ_AX = yf.download(stock_ANZ_AX, start=start_date, end=end_date)
BHP_AX = yf.download(stock_BHP_AX, start=start_date, end=end_date)
CBA_AX = yf.download(stock_CBA_AX, start=start_date, end=end_date)
CSL_AX = yf.download(stock_CSL_AX, start=start_date, end=end_date)
FMG_AX = yf.download(stock_FMG_AX, start=start_date, end=end_date)
GMG_AX = yf.download(stock_GMG_AX, start=start_date, end=end_date)
MQG_AX = yf.download(stock_MQG_AX, start=start_date, end=end_date)
NAB_AX = yf.download(stock_NAB_AX, start=start_date, end=end_date)
NCM_AX = yf.download(stock_NCM_AX, start=start_date, end=end_date)
REA_AX = yf.download(stock_REA_AX, start=start_date, end=end_date)
RIO_AX = yf.download(stock_RIO_AX, start=start_date, end=end_date)
TCL_AX = yf.download(stock_TCL_AX, start=start_date, end=end_date)
TLS_AX = yf.download(stock_TLS_AX, start=start_date, end=end_date)
WBC_AX = yf.download(stock_WBC_AX, start=start_date, end=end_date)
WES_AX = yf.download(stock_WES_AX, start=start_date, end=end_date)

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

# Data Processing

In [33]:
# select and rename columns of Aristocrat Leisure Ltd (ALL_AX)
column_name = ['Close','Volume']
ALL_AX_select = ALL_AX[column_name]
column_mapping = {
    'Close': 'ALL_AX Close',
    'Volume': 'ALL_AX Volume'
}
ALL_AX_final = ALL_AX_select.rename(columns=column_mapping)

In [34]:
# select and rename columns of Australia and New Zealand Banking Group Ltd(ANZ_AX)
column_name = ['Close','Volume']
ANZ_AX_select = ANZ_AX[column_name]
column_mapping = {
    'Close': 'ANZ_AX Close',
    'Volume': 'ANZ_AX Volume'
}
ANZ_AX_final = ALL_AX_select.rename(columns=column_mapping)

In [35]:
# select and rename columns of BHP Group Ltd (BHP_AX)
column_name = ['Close','Volume']
BHP_AX_select = BHP_AX[column_name]
column_mapping = {
    'Close': 'BHP_AX Close',
    'Volume': 'BHP_AX Volume'
}
BHP_AX_final = BHP_AX_select.rename(columns=column_mapping)

In [36]:
# select and rename columns of Commonwealth Bank of Australia (CBA_AX)
column_name = ['Close','Volume']
CBA_AX_select = BHP_AX[column_name]
column_mapping = {
    'Close': 'CBA_AX Close',
    'Volume': 'CBA_AX Volume'
}
CBA_AX_final = CBA_AX_select.rename(columns=column_mapping)

In [37]:
# select and rename columns of CSL Ltd (CSL_AX)
column_name = ['Close','Volume']
CSL_AX_select = CSL_AX[column_name]
column_mapping = {
    'Close': 'CSL_AX Close',
    'Volume': 'CSL_AX Volume'
}
CSL_AX_final = CBA_AX_select.rename(columns=column_mapping)

In [38]:
# select and rename columns of Fortescue Metals Group Ltd (FMG_AX)
column_name = ['Close','Volume']
FMG_AX_select = FMG_AX[column_name]
column_mapping = {
    'Close': 'FMG_AX Close',
    'Volume': 'FMG_AX Volume'
}
FMG_AX_final = FMG_AX_select.rename(columns=column_mapping)

In [39]:
# select and rename columns of Goodman Group (GMG_AX)
column_name = ['Close','Volume']
GMG_AX_select = FMG_AX[column_name]
column_mapping = {
    'Close': 'GMG_AX Close',
    'Volume': 'GMG_AX Volume'
}
GMG_AX_final = GMG_AX_select.rename(columns=column_mapping)

In [40]:
# select and rename columns of Macquarie Group Ltd (MQG_AX)
column_name = ['Close','Volume']
MQG_AX_select = MQG_AX[column_name]
column_mapping = {
    'Close': 'MQG_AX Close',
    'Volume': 'MQG_AX Volume'
}
MQG_AX_final = MQG_AX_select.rename(columns=column_mapping)

In [41]:
# select and rename columns of National Australia Bank Ltd (NAB_AX)
column_name = ['Close','Volume']
NAB_AX_select = NAB_AX[column_name]
column_mapping = {
    'Close': 'NAB_AX Close',
    'Volume': 'NAB_AX Volume'
}
NAB_AX_final = NAB_AX_select.rename(columns=column_mapping)

In [42]:
# select and rename columns of Newcrest Mining Ltd (NCM_AX)
column_name = ['Close','Volume']
NCM_AX_select = NAB_AX[column_name]
column_mapping = {
    'Close': 'NCM_AX Close',
    'Volume': 'NCM_AX Volume'
}
NCM_AX_final = NCM_AX_select.rename(columns=column_mapping)

In [43]:
# select and rename columns of REA Group Ltd (REA_AX)
column_name = ['Close','Volume']
REA_AX_select = REA_AX[column_name]
column_mapping = {
    'Close': 'REA_AX Close',
    'Volume': 'REA_AX Volume'
}
REA_AX_final = REA_AX_select.rename(columns=column_mapping)

In [44]:
# select and rename columns of RIO Tinto Ltd (RIO_AX)
column_name = ['Close','Volume']
RIO_AX_select = RIO_AX[column_name]
column_mapping = {
    'Close': 'RIO_AX Close',
    'Volume': 'RIO_AX Volume'
}
RIO_AX_final = RIO_AX_select.rename(columns=column_mapping)

In [45]:
# select and rename columns of Transurban Group (TCL_AX)
column_name = ['Close','Volume']
TCL_AX_select = TCL_AX[column_name]
column_mapping = {
    'Close': 'TCL_AX Close',
    'Volume': 'TCL_AX Volume'
}
TCL_AX_final = TCL_AX_select.rename(columns=column_mapping)

In [46]:
# select and rename columns of Transurban Group (TCL_AX)
column_name = ['Close','Volume']
TLS_AX_select = TLS_AX[column_name]
column_mapping = {
    'Close': 'TLS_AX Close',
    'Volume': 'TLS_AX Volume'
}
TLS_AX_final = TLS_AX_select.rename(columns=column_mapping)

In [47]:
# select and rename columns of Westpac Banking Corporation (WBC_AX)
column_name = ['Close','Volume']
WBC_AX_select = WBC_AX[column_name]
column_mapping = {
    'Close': 'WBC_AX Close',
    'Volume': 'WBC_AX Volume'
}
WBC_AX_final = WBC_AX_select.rename(columns=column_mapping)

In [48]:
# select and rename columns of Wesfarmers Ltd (WES_AX)
column_name = ['Close','Volume']
WES_AX_select = WES_AX[column_name]
column_mapping = {
    'Close': 'WES_AX Close',
    'Volume': 'WES_AX Volume'
}
WES_AX_final = WES_AX_select.rename(columns=column_mapping)
WES_AX_final.head()

            WES_AX Close  WES_AX Volume
Date
2006-01-03     24.876410         432274
2006-01-04     24.997595         660594
2006-01-05     24.943733         509136
2006-01-06     24.391672        2180842
2006-01-09     24.283955        1365334

In [49]:
all_stocks = pd.concat([ALL_AX_final, ANZ_AX_final,BHP_AX_final,CBA_AX_final,CSL_AX_final,FMG_AX_final,GMG_AX_final,MQG_AX_final,NAB_AX_final,NCM_AX_final,REA_AX_final,RIO_AX_final,TCL_AX_final,TLS_AX_final,WBC_AX_final,WES_AX_final], axis=1)
all_stocks.head()

,ALL_AX Close,ALL_AX Volume,ANZ_AX Close,ANZ_AX Volume,BHP_AX Close,BHP_AX Volume,CBA_AX Close,CBA_AX Volume,CSL_AX Close,CSL_AX Volume,...,RIO_AX Close,RIO_AX Volume,TCL_AX Close,TCL_AX Volume,TLS_AX Close,TLS_AX Volume,WBC_AX Close,WBC_AX Volume,WES_AX Close,WES_AX Volume
Date,,,,,,,,,,,,,,,,,,,,,
2006-01-03,12.20,349328,12.20,349328,21.660353,7280093,21.660353,7280093,21.660353,7280093,...,55.130138,1785214,6.386109,1243110.0,3.343998,17648300,22.566368,1047569,24.876410,432274
2006-01-04,12.18,721189,12.18,721189,22.286428,16274002,22.286428,16274002,22.286428,16274002,...,56.045033,2063443,6.510576,2182193.0,3.428443,39400206,22.705421,3367868,24.997595,660594
2006-01-05,12.20,1186380,12.20,1186380,22.052818,11436552,22.052818,11436552,22.052818,11436552,...,55.051270,2766625,6.539299,2299318.0,3.419998,19033195,22.784880,2395192,24.943733,509136
2006-01-06,12.16,899637,12.16,899637,21.819208,7104800,21.819208,7104800,21.819208,7104800,...,54.262569,1646045,6.558448,1390003.0,3.369331,16873731,22.794811,2909763,24.391672,2180842
2006-01-09,12.24,325104,12.24,325104,22.482660,14577664,22.482660,14577664,22.482660,14577664,...,55.350975,2644424,6.615894,1892913.0,3.428443,19512663,22.884205,3068742,24.283955,1365334

In [52]:
len(all_stocks)

4299

In [ ]:
# Dealing with the missing values with pandas fillna function (Interpolation-"nearest" Method)